<div *ngIf="!usuarios">
  cargando
</div>
<div *ngIf="usuarios">
  <h4>Lista de usuarios</h4>
  <div class="card-container">
    <div *ngFor="let usuario of usuarios">
      <div class="card card-small">
        <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 13h-6v6h-2v-6H5v-2h6V5h2v6h6v2z"/></svg>
        <span>{{usuario.nombres}} <strong>{{usuario.apellidos}}</strong></span>
      </div>
  </div>
</div>
